$theme-color: #f06c33;
$darkBlue: rgb(56, 38, 96);
$lightBlue: rgb(4, 139, 163);
$white: #ffffff;
$darkWhite: #f1f1f1;
$black: #000000;
$lightDark: #ccc;
$gray: #999;
$graidentBg: linear-gradient(90deg, rgb(56, 38, 96) 0.5%, rgb(4, 139, 163) 100%);


$vwm: 0.3125vw;
$vwt: 0.13020833333333334vw;
$vw: 0.052083333333333336vw;

.graidentBg {
    background: $graidentBg;
}
.grayBg {
    background: $darkWhite;
}


// headings


// $headings : h1 h2 h3 h4 h5 h6;
// @each $heading in $headings {
//     #{$heading} {

//     }
// }

