.globalHeading  h2 {

  background: linear-gradient(90deg, rgb(56, 38, 96) 0.5%, rgb(4, 139, 163) 100%);
  background: linear-gradient(90deg, rgb(56, 38, 96) 0.5%, rgb(4, 139, 163) 100%);
  background: linear-gradient(to right, rgb(56, 189, 248), rgb(14, 165, 233), rgb(4, 159, 231));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

}